body {
  background-color: rgb(49, 49, 49);
  margin: 0;
}

#container {
  width: 90%;
  margin: auto;
  position: absolute;
  bottom: 0;
  top: 0;
  display: grid;
  grid-template-columns: 20% 60% 20%;  
  padding: 0 5% 0 5%;
}

#menu {
  display: grid;
  align-content: center;
}

a{
  text-decoration: none;
  color: orange;  
}

#content {
  padding: 25px;
  color: white;
  background-color: rgb(22, 22, 22);
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#backgroundvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -2;
  filter: blur(10px);
}