body {
  background-color: rgb(49, 49, 49);
  margin: 0;
}

#container {
  width: 90%;
  position: absolute;
  bottom: 0;
  top: 0;
  display: grid;
  grid-template-columns: 20% 60% 20%;  
  grid-template-rows: auto;
  padding: 0 5% 0 5%;

}

a, i{
  text-decoration: none;
  color: orange;  
}

#content {
  padding: 25px;
  color: white;
  background-color: rgb(22, 22, 22);
  font-family: "Lato";
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  top: 35%;
  position: fixed;
  max-width: fit-content;
  font-family: monospace;
}

#sidebar-logos {
  bottom: 20px;
  position: fixed;
}
#sidebar-logos a {
  padding-right: 20px;
}

#backgroundvideo {
  position: fixed;
  left: 0;
  bottom: -30px;
  min-width: 100%; 
  min-height: 100%;
  z-index: -2;
  filter: blur(10px);
}

#home {
  top: 150px;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  min-height: 50rem;
}

#aboutme {
  top: 15%;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  min-height: 50rem;
}

.subtitle .description {
  padding: 2px 5px 2px 5px;
  margin: 0;
}

.subtitle {
  font-size: 24px;
  margin: 15px 15px 15px 0;
  color: rgb(215, 215, 215);
}

.description {
  font-size: 16px;
  color: rgb(158, 146, 133);

}
 
.menutitle {
  font-family: monospace;
  color: orange;
  font-size: 32px;
  margin: 30px 30px 30px 0;
}

.specialtext {
  color: orange;
}

#playbutton {
  position: fixed;
  right: 10px;
  bottom: 10px;

  background: transparent;
  box-sizing: border-box;

  border-color: transparent transparent transparent orange;
  transition: 150ms all ease;
  cursor: pointer;
  height: 18px;
}

.play {
  border-width: 10px 0 10px 18px;
  border-style: solid;
}
.pause {
  border-style: double;
  border-width: 0px 0 0px 18px;
}